.nunito-regular {
  font-family: "Nunito", serif !important;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
}

.nunito-bold {
  font-family: "Nunito", serif !important;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal;
}

.nunito-light {
  font-family: "Nunito", serif !important;
  font-optical-sizing: auto;
  font-weight: 300 !important;
  font-style: normal;
}
